.square {
    width: 16px;
    height: 16px;
    background-color: pink;
    transition: background-color 6s ease-in;
    margin: 4px;
}

.square:hover {
    background-color: red;
    transition: background-color 0s;
}

.row {
    display: flex;
    flex-direction: row;
}

.grid {
    display: flex;
    flex-direction: column;
}